<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NISOCountries.Localization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NISOCountries.Localization.Properties.Settings>
            <setting name="github" serializeAs="String">
                <value>https://raw.githubusercontent.com/unicode-cldr/cldr-localenames-full/master/main/{0}/territories.json</value>
            </setting>
        </NISOCountries.Localization.Properties.Settings>
    </applicationSettings>
</configuration>